{% extends "base.html.j2" %}
{% block content %}
<h1>{{ page.title }}</h1>
<p>{{ page.count }} page(s) tagged.</p>
<ul class="term-members">
{% for m in page.members %}<li><a href="{{ m.url }}">{{ m.title }}</a></li>{% endfor %}
</ul>
{% endblock %}
