{% extends "base.html.j2" %}
{% block content %}
<h1>{{ page.title }}</h1>
<p>{{ t("term.tagged", count=page.count) }}</p>
<ul class="post-list">
{% for m in page.members %}<li><a href="{{ m.url }}">{{ m.title }}</a></li>{% endfor %}
</ul>
{% endblock %}
